*{
  padding: 0;
  margin:0 0;
}
.container{
  
  width: 100%;
  background: linear-gradient(135deg, #ff6b6b, #fca503 25%, #ff70a6 50%, #70e7ff 75%, #8affa1);
  background-size: 300% 300%;
  animation: color 9s ease-in-out infinite;
}
@media screen and (max-width: 600px) {
  .container {
     height: 100%;
  }
}
@keyframes color{
  0%, 100%{
      background-position:  0 50%;
  }
  50%{
      background-position: 100% 50%;
  }
}


